.nav {
  display: flex;
  position: fixed;
  top: 0;
  /* justify-content: space-between; */
  width: 100%;
  padding: 15px;
  background-color: transparent;
  height: 35px;
  z-index: 1;
  transition: all 500ms;
  transition-timing-function: ease-in;
}

.nav__black {
  /* transition: 500ms; */
  background-color: #111;
}

.nav__logo {
  position: fixed;
  left: 15px;
  width: 80px;
  object-fit: contain;
}

.nav__avatar {
  position: fixed;
  right: 15px;
  width: 30px;
  object-fit: contain;
}
